---
import { getPage, getPageCollection } from "@lib/contentParser.astro";
import { getPagination } from "@utils/pagination";

import Layout from '@layouts/Layout.astro';

import PageHeader from "@components/PageHeader.astro";
import Pagination from "@components/Pagination.astro";
import ProjectCard from "@components/ProjectCard.astro";

import { settings } from "@config/site.config.json";
const projectpage = await getPage('pages', 'project');
const { title, subtitle } : any = projectpage?.data;

export async function getStaticPaths() {
  const projects = await getPageCollection("project");
  const totalPages = Math.ceil(projects.length / settings.pagination_limit);
  const paths = [];

  for (let i = 1; i <= totalPages; i++) {
    paths.push({
      params: {
        slug: i.toString(),
      },
    });
  }
  return paths;
}

const { slug } = Astro.params;
const projects = await getPageCollection("project");
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const { currentItems: currentProjects, totalPages } = 
  getPagination(projects, currentPage, settings.pagination_limit);

---

<Layout title={title} description={title}>
  <PageHeader title={title} subtitle={subtitle} />

  <section class="py-20 md:py-28 bg-white text-dark rounded-b-2xl">
    <div class="container">
      <div class="row md:gx-4 gy-4">
        {currentProjects.map((project) => (
          <div class="sm:col-6">
            <ProjectCard slug={project.slug} data={project.data} twoColumns={true} />
          </div>
        ))}

        <div class="col-12 mt-12">
          <Pagination section="project" currentPage={currentPage} totalPages={totalPages} />
        </div>
      </div>
    </div>
  </section>
</Layout>
