---
const { index, slug, data, twoColumns } = Astro.props;
const { title, description, image, color, category } = data;
---

<div
  data-aos
  class="rounded-lg overflow-hidden relative group h-full"
>
  <span
    class="absolute h-full group-[.aos-animate]:h-0 w-full z-30 duration-700 left-0 bottom-0"
    style={`background-color: ${color}; transition-delay: ${index * 100}ms;`}
  ></span>

  <img
    src={image}
    alt={title}
    width={twoColumns ? 620 : 520}
    height={twoColumns ? 420 : 550}
    class={`scale-150 group-[.aos-animate]:scale-100 duration-700 group-hover:!scale-125 object-cover w-full h-full bg-light/20 ${twoColumns ? "has-twoColumns" : ""}`}
    style={twoColumns ? "height: 376px;" : ""}
    loading="lazy"
  />

  <div class="absolute inset-0 z-20 flex justify-center flex-col p-8">
    <span class="absolute h-full w-full duration-300 left-0 bottom-0 opacity-0 bg-overlay group-hover:opacity-100 -z-10 pointer-events-none"></span>

    <div class="flex items-center justify-between opacity-0 -mt-1 group-hover:opacity-100 group-hover:mt-0 duration-300 group-hover:delay-300">
      <span class="uppercase text-white bg-white/10 text-sm font-light tracking-wider px-3 py-1 rounded-full backdrop-blur">
        {category}
      </span>
      <a href={`/project/${slug}`} class="stretched-link">
        <img
          class="inline-block rotate-[135deg]"
          src="/images/arrow-right.svg"
          alt="arrow"
          height="22"
          width="25"
        />
      </a>
    </div>

    <div class="text-center mt-auto">
      <h3 class="text-4xl font-secondary font-semibold text-white mb-2 relative overflow-hidden">
        <span class="block translate-y-full group-hover:translate-y-0 duration-300">
          {title}
        </span>
      </h3>
      <p class="text-white font-light relative overflow-hidden">
        <span class="block translate-y-full group-hover:translate-y-0 duration-300 group-hover:delay-150">
          {description}
        </span>
      </p>
    </div>
  </div>
</div>
